@font-face {
    font-family: odin-font;
    src: url(./fonts/Norse-Bold.otf)
}

body {
    margin: 0;
}

.main {
    display: flex;
    flex-flow: row wrap;
    height: auto;
    box-sizing:border-box;
    width: 100vw;
    height: 100vh;
}

.background {
    background-image: url(./images/background.jpg);
    background-size: auto;
    width: 40vw;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container {
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(6, 8, 19, 0.45);
    height: 25%;

}

h1 {
    font-family: odin-font, sans-serif;
    font-size: 8em;
}

.logo {
    height: 75%;    
}

.form {
    
    display: flex;
    align-items: center;
    width: 60vw;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


form {
    display: flex;
    align-items: center; 
    flex-direction: column;
    justify-content: center;
}

.info p {
    color: rgba(0, 0, 0, 0.6);
    font-weight: bolder;
    font-size: 1.5em;
}

.inputs {
    display: flex;
    flex-direction: row;
}

.small-container {
    display: flex;
    flex-direction: column;
    margin: 2px 3em;
}

input {
    border: 2px solid #000;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
  }
  
input:invalid {
    border-color: red;
  }

.submit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bolder;
}

.button {
  background-color: #555555;
  border: none;
  color: white;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border: 2px solid #f3f3f3;
  border-radius: 15px;
  font-weight: bold;
}

.button:hover {
    border: 2px solid #000000;
}

@media only screen and (max-width: 1000px) {
    .main {
        flex-flow: column;
        align-items: center;
    }

    .background {
        width: 100vw;
        height: 25%;
    }

    .logo-container {
        width: 100%;
        height: 25vh;  
    }

    .form {
        width: 100%;
    }

    .inputs {
        width: 100%;
    }

    .small-container {
        margin: 2px;
    }

    input {
        width: 90%;
    }
}